/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav Area for Desktop */
nav {

  background-color: coral;
}

/* Main Area for Desktop */
.sec-1 {
  display: flex;

  background-color: lightgrey;
}
.sec-1 .intro {
  display: flex;
  flex-direction: column;
}
.sec-2 {
  display: flex;

  background-color: gray;
}
.sec-3 {
  display: flex;

  background-color: lightgrey;
}
.sec-3 .s3-intro {
  display: flex;
  flex-direction: column;
}
.sec-3 .s3-part {
  display: flex;
  flex-direction: column;
}
.sec-4 {
  display: flex;

  background-color: gray;
}
.sec-4 .s4-content {
  display: flex;
  flex-direction: column;
}
.sec-5 {
  display: flex;

  background-color: lightgrey;
}
.sec-5 .s5-content {
  display: flex;
  flex-direction: column;
}
.sec-6 {
  display: flex;
  flex-direction: column;

  background-color: gray;
}
.sec-6 .review-area {
  display: flex;
}
.sec-6 .rev-1 {
  display: flex;
  flex-direction: column;
}
.sec-6 .person {
  display: flex;
}
.sec-6 .person-info {
  display: flex;
  flex-direction: column;
}
.sec-6 .stars {
  display: flex;
}
.sec-6 .rev-2 {
  display: flex;
  flex-direction: column;
}
.sec-6 .rev-3 {
  display: flex;
  flex-direction: column;
}
.sec-7 {
  display: flex;

  background-color: lightgrey;
}
.sec-7 .s7-content {
  display: flex;
  flex-direction: column;
}
.sec-7 .s7-questions {
  display: flex;
  flex-direction: column;
}
.sec-7 .question {
  display: flex;
}

/* Footer Area for Desktop */
footer {
  display: flex;
  flex-direction: column;

  background-color: coral;
}
footer .footer-links {
  display: flex;
}
footer .mission-statement {
  display: flex;
  flex-direction: column;
}
footer .footer-logo {
  display: flex;
}
footer .link-area {
  display: flex;
  flex-direction: column;
}
footer .footer-contact {
  display: flex;
  flex-direction: column;
}
footer .footer-contact .footer-socials {
  display: flex;
}